<%= simple_form_for [activity, question], html: { data: { turbo: false } } do |qf| %>
  <div class="mb-3">
    <%= qf.input :content, 
                 label: "Conteúdo da Questão", 
                 input_html: { class: "form-control" },
                 placeholder: "Digite a pergunta" %>
  </div>
  <div class="mb-3">
    <%= qf.input :options, 
                 label: "Opções (separadas por vírgula)", 
                 input_html: { class: "form-control" },
                 placeholder: "Opção1, Opção2, Opção3, Opção4" %>
  </div>
  <div class="mb-3">
    <%= qf.input :correct_answer, 
                 label: "Resposta Correta", 
                 input_html: { class: "form-control" },
                 placeholder: "Digite a resposta correta (deve ser igual a uma das opções)" %>
  </div>
  <div class="d-grid">
    <%= qf.submit "Adicionar Questão", class: "btn btn-success" %>
  </div>
<% end %>

