<div class="container mt-5">
  <h1>Resolve Quiz: <%= @activity.title %></h1>
  <p><strong>Description:</strong> <%= @activity.description %></p>
  <p><strong>Level:</strong> <%= @activity.level %></p>

  <!-- Contêiner para listar perguntas -->
  

  <!-- Formulário de Nova Pergunta -->
  <div data-controller="question-form">
    <div id="new-question-form" class="d-none mb-4" data-question-form-target="form">
      <%= simple_form_for [@activity, Question.new], url: activity_questions_path(@activity), method: :post, html: { class: 'needs-validation' } do |qf| %>
        <div class="mb-3">
          <%= qf.input :content, label: "Question Content", input_html: { class: "form-control", placeholder: "Enter the question" } %>
        </div>
        <div class="mb-3">
          <%= qf.input :options, label: "Options (comma-separated)", input_html: { class: "form-control", placeholder: "Option1, Option2, Option3, Option4" } %>
        </div>
        <div class="mb-3">
          <%= qf.input :correct_answer, label: "Correct Answer", input_html: { class: "form-control", placeholder: "Enter the correct answer" } %>
        </div>
        <div class="d-grid">
          <%= qf.submit "Add Question", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>

    <!-- Botão para mostrar/ocultar o formulário -->
    <div class="d-grid mb-4">
      <button type="button" class="btn btn-secondary" data-action="click->question-form#toggleForm">Add a New Question</button>
    </div>
  </div>

  <!-- Formulário para enviar respostas do quiz -->
  <%= simple_form_for :answers, url: submit_quiz_activity_path(@activity), method: :post, html: { class: 'needs-validation' } do |f| %>
    <% @questions.each_with_index do |question, index| %>
      <div class="mb-4">
        <h3>Question <%= index + 1 %>: <%= question.content %></h3>

        <% question.options.each_with_index do |option, opt_index| %>
          <div class="form-check">
            <%= f.radio_button "answers[#{question.id}]", option, id: "option_#{question.id}_#{opt_index}", class: "form-check-input" %>
            <%= f.label "answers[#{question.id}]", option, class: "form-check-label", for: "option_#{question.id}_#{opt_index}" %>
          </div>
        <% end %>
      </div>
    <% end %>

    <!-- Botão para submeter o quiz -->
    <div class="d-grid">
      <%= f.submit "Submit Quiz", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
