<!DOCTYPE html>
<html>
  <head>
    <title>ExerciseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>


  </head>

  <body class="bg-light">
    <div class="container my-5">
      <div class="card shadow p-4">
       <turbo-frame id="flash">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
          </turbo-frame>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
